body {
  background-image:url(fundo.jpg);
  font-family: Arial, sans-serif;
  margin: 5rem;
  padding: 0;
}

.cardapio {
  width: 300px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
.item {
  font-weight: bold;
}
.descricao {
  margin-left: 20px;
}

.menu-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
cursor: pointer;
  color: #000;
  font-weight: bold;
  font-size: 30px;
  transition: background-color 0.3s;
}

.menu-link:hover {
  color: #ff0000;
}

p {
  color: #ffffff;
 }