
body {
  background-image:url(fundo.jpg);
  font-family: Arial, sans-serif;
  margin: 5rem;
  padding: 0;
}

.cardapio {
  width: 300px;
  margin: 0 auto;
}
h1 {
  color: #ffffff;
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
.item {
  font-weight: bold;
}
.descricao {
  margin-left: 20px;
}

.menu-link {
    display: inline-flex;
    align-items: center;
  justify-content: center;
    padding: 10px 20px;
    background: #d2484880;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px #0000001a;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 4px;
    border: none;
  cursor: pointer;
    color: #000;
    font-weight: bold;
    font-size: 30px;
    transition: background-color 0.3s;
  }

  .menu-link:hover {
    color: #ffffff;
  }
  
 p {
  font-size: larger;
  color: #ffffff;
 }
 .container{
  align-items: center;
  justify-content: center;
 }
 .restaurant-image{
  align-items: center;
  display: flex;
  justify-content: center;
 }